/* ─────────────────────────────────────────────────────────
                        기본 초기화 소스
────────────────────────────────────────────────────────── */

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    -webkit-tab-highlight-color: rgba(0,0,0,0);
    vertical-align: baseline;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    height: max-content;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, 
a:link, 
a:visited, 
a:focus, 
a:hover, 
a:active {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

body {
    background: var(--color-white);
    height: max-content;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    font-family: "Nanum Gothic", sans-serif;
}

label {
    display: none;
}


/* ─────────────────────────────────────────────────────────
                        공용 소스
────────────────────────────────────────────────────────── */

hr {
    width: 100%;
    border-bottom: 1px solid #eee;
    clear: both;
}

b,
strong {
    font-weight: bold;
}

.float-r {
    float: right;
    display: inline;
}

.float-l {
    float: left;
    display: inline;
}

.hashtag {
    color: var(--color-sky);
    font-weight: bold;
}


/* ─────────────────────────────────────────────────────────
                    사이트 컬러 리소스
────────────────────────────────────────────────────────── */

:root {
    --color-white: #ffffff;
    --color-light: #f1f5f9;
    --color-lgray: #eee;
    --color-grayish: #dadce0;
    --color-mgray: #afb6bd;
    --color-dgray: #888;
    --color-black: #121212;
    --color-night: #001632;

    --color-red: #f44336;
    --color-blue: #1a73e8;
    
    --color-pink: #FF9EAA;
    --color-lightpink: #FFD0D0;
    --color-sky: #3AA6B9;

    --color-palegreen: #DEF9C4;
    --color-emerald: #9CDBA6;
    --color-teal: #50B498;
    --color-darkteal: #468585;

    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-bold: 0 5px 15px -3px rgba(0, 0, 0, 0.23),
      0 4px 6px -2px rgba(0, 0, 0, 0.23);
}
