.detail-container {
  max-width: 1300px;
  height: auto;
  margin: 0px auto;
  padding: 0px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.detail-slider {
  width: 50%;
  height: 100%;
  margin: 10px;
}

.detail-img {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.detail-info-panel {
  width: 40%;
  height: 100%;
  margin: 30px;
}

.detail-slick-prev {
  display: block !important;  /* 항상 보이도록 */
  z-index: 1;                 /* 이미지 위에 표시되도록 */
  font-size: 30px;            /* 크기 조정 */
  color: black;               /* 색상 설정 */
  width: 30px;
  height: 30px;
  background: white;          /* 배경색 설정 */
  border-radius: 50%;         /* 동그랗게 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.detail-5); /* 그림자 추가 */
  opacity: 0.detail-7;               /* 약간 투명하게 */
  margin: 20px;
}

.detail-slick-next {
  display: block !important;  /* 항상 보이도록 */
  z-index: 1;                 /* 이미지 위에 표시되도록 */
  font-size: 30px;            /* 크기 조정 */
  color: black;               /* 색상 설정 */
  width: 30px;
  height: 30px;
  background: white;          /* 배경색 설정 */
  border-radius: 50%;         /* 동그랗게 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.detail-5); /* 그림자 추가 */
  opacity: 0.detail-7;               /* 약간 투명하게 */
  margin: 20px;
}

.detail-slick-prev:before, .detail-slick-next:before {
  font-size: 30px;
  color: black;
}

.detail-slick-prev {
  left: 10px;
}

.detail-slick-next {
  right: 10px;
}

.detail-like-container {
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  align-items: center;
  justify-content: space-around;
}

.detail-like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  transition: color 0.detail-3s ease;
  margin-top: 30px;
}

.detail-like-button.detail-liked {
  color: red; /* 하트에 불이 켜졌을 때 빨간색으로 변경 */ 
}

.detail-like-button:focus {
  outline: none;
}

.detail-icons {
  display: flex;
  align-items: center;
}

.detail-share-icon {
  font-size: 30px;
  margin-left: 10px;
  color: grey;
  cursor: pointer;
}

.detail-menu_bar{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 50px;
}

.detail-main_title{
  font-weight: bold;
}

.detail-main {
  border-radius: 5px;
}

.detail-info-panel-bar{
  width: 100%;
  height: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.detail-1);
  padding: 5px;
}
.detail-main_content1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.detail-main_content1_one{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.detail-reward-selection {
  max-width: 600px;
  margin: 0x auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.detail-1);
  overflow-y: auto;  /* 스크롤바 표시 */
  max-height: 1100px;  /* 최대 높이 설정 */
  position: sticky;
  margin-top: 50px;

}

.detail-reward-selection h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-duration {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.detail-reward-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f4f9ff;
}

.detail-reward-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.detail-price {
  font-size: 18px;
  font-weight: bold;
}

.detail-remaining {
  font-size: 14px;
  color: #00aaff;
}

.detail-reward-content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.detail-reward-footer {
  font-size: 14px;
  color: #666;
}

.detail-bottom-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  background-color: white;
  padding: 10px 0;
  height: 150px;
  
}

.detail-icons {
  font-size: 18px;
}

.detail-funding-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.detail-funding-button:hover {
  background-color: #0056b3;
}

.detail-slider-container .detail-slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.detail-content-container {
  text-align: left;
}

.detail-h3 {
  font-size: 1.detail-5em;
  margin-bottom: 10px;
}

.detail-p {
  font-size: 1em;
  margin-bottom: 35px;
  margin-top: 30px;
}

.detail-funding-info {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.detail-funding-info h4 {
  font-size: 1.detail-5em;
  color: #4caf50;
  margin-bottom: 10px;
}

.detail-funding-button {
  background-color: skyblue;
  width: 200px;
  height: 100px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  
}

.detail-funding-button:hover {
  background-color: #45a049;
}

/* 두 번째 섹션 스타일 */
.detail-story-section {
  margin-bottom: 20px;
}

.detail-notice {
  background-color: #f8f8f8;
  border-left: 4px solid #ccc;
  padding: 10px;
  font-size: 0.detail-9em;
  color: #555;
  margin-bottom: 20px;
}

.detail-content {
  text-align: center;
}

.detail-h1 {
  font-size: 2em;
  margin: 10px 0;
  font-weight: bold;
}

.detail-highlighted {
  font-size: 2.detail-5em;
  color: #4caf50;
  margin: 20px 0;
}

.detail-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.detail-btn {
  background-color: #f8f8f8;
  border: 2px solid #000;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.detail-3s;
}

.detail-btn:hover {
  background-color: #e0e0e0;
}

/* 세 번째 섹션 스타일 */
.detail-reward-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.detail-reward-header {
  margin-bottom: 20px;
}

.detail-reward-price {
  font-size: 1.detail-5em;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-reward-header h2 {
  font-size: 1.detail-2em;
  color: #555;
}

.detail-reward-content p {
  font-size: 1em;
  margin: 5px 0;
  line-height: 1.detail-4;
}

.detail-reward-content hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.detail-reward-footer {
  
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  font-size: 0.detail-9em;
}

.detail-reward-footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-reward-footer span {
  font-weight: bold;
}

@media (min-width: 1096px) {
  .detail-app-container {
    padding: 10px;
  }

  .detail-buttons, .detail-reward-footer div {
    flex-direction: column;
  }

  .detail-btn, .detail-reward-footer div {
    width: 100%;
  }

  h1, h2, h3 {
    font-size: 1.detail-5em;  /* 모든 제목 크기 축소 */
  }

  .detail-reward-price {
    flex-direction: column;
    align-items: start;
  }

  .detail-reward-price strong {
    margin-bottom: 5px;
  }
}
