
/* ─────────────────────────────────────────────────────────
                            헤더
────────────────────────────────────────────────────────── */

header {
    background-color: var(--color-white);
    margin: 0 auto;
}

.hide .top-nav-btn-wrap,
.hide #cate-nav {
    display: none;
}

/* 상단 스크롤 버튼 */
.btn-scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 18px 13px;
    border-radius: 30px;;
    font-size: 40px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    background: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn-scroll-top:hover {
    animation: floating 1s infinite;
    opacity: 1;
}

.btn-scroll-top.show {
    opacity: 1;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/* ─────────────────────────────────────────────────────────
                        최상단 메뉴바
────────────────────────────────────────────────────────── */

#top-nav {
    display: flex;
    height: 80px;
    width: 1330px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/* 
#top-nav.active {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    padding-left: 90px;
    padding-right: 90px;
    animation: fadein 0.5s ease-in-out;
    background-color: white;
    border: none;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15);
} */

/* ─────────────────────────────────────────────────────────
                최상단 메뉴바: 타이틀 및 사이트메뉴
────────────────────────────────────────────────────────── */

.top-nav-site-wrap {
    display:flex;
}

.top-nav-title {
    font-family: "Noto Sans KR", sans-serif;
    display:flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 26px;
}

.top-nav-logo {
    font-size: 28px;
}

.top-nav-site-menu {
    margin-left: 20px;
}

.top-nav-site-menu li {
    font-family: "Noto Sans KR", sans-serif;
    display: inline-block;
    position: relative;
    width: max-content;
    margin-left: 50px;
    font-weight: 700;
    line-height: 50px;
    font-size: 20px;
}

.top-nav-site-menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: var(--color-primary);
    transition: all .5s cubic-bezier(0, 0, 0.15, 1.01);
}

.top-nav-site-menu li:hover::after {
    width: 100%;
}

.top-nav-site-menu li.active::after {
    width: 100%;
}


/* ─────────────────────────────────────────────────────────
                    최상단 메뉴바: 버튼 영역
────────────────────────────────────────────────────────── */

.top-nav-btn-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    right: 0;
}


/* ─────────────────────────────────────────────────────────
                최상단 메뉴바: 새 프로젝트 버튼
────────────────────────────────────────────────────────── */

.top-nav-btn-project {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 10px;
    width: fit-content;
    height: fit-content;
    color: var(--color-primary) !important;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.top-nav-btn-project:hover {
    color: var(--color-white) !important;
    background-color: var(--color-primary-dark);
}


/* ─────────────────────────────────────────────────────────
                    네비게이션: 카테고리
────────────────────────────────────────────────────────── */

#cate-nav {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 60px;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-grayish);
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-size: 16px;
}

#cate-nav.active {
    width: 100%;
    z-index: 7;
    position: fixed;
    top: 0;
    animation: fadein 0.2s ease-in-out;
    border-bottom: 1px solid var(--color-grayish);
}

.temp-nav {
    width: 100%;
    height: 60px;
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.cate-nav-wrap {
    height: 100%;
    width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate-title {
    height: 100%;
    position: relative;
    width: 80%;
}

.cate-title-block {
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.cate-title-block::-webkit-scrollbar {
    display: none;
}

.cate-title-desc {
    margin-top: -2px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cate-title-desc i {
    font-size: 20px;
    margin-top: 3px;
}

.cate-title-el {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0px solid var(--color-primary);
    transition: border .05s ease;
    height: 100%;
    background: none;
}

.cate-title-el:hover {
    color: var(--color-primary);
    border-bottom: 5px solid var(--color-primary);
    cursor: pointer;
}

.cate-title-el span {
    width: max-content;
}

.cate-title-el i {
    margin-right: 5px;
}

.cate-item {
    top: 60px;
    background: #eee;
    position: absolute;
    padding: 20px;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.cate-item-wrap {
    margin: 0 auto;
    width: 1330px;
}

.cate-items {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,150px);
    row-gap: 25px;
}

.cate-items li {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.cate-items li:hover {
    font-weight: bold;
    cursor: pointer;
}


/* ─────────────────────────────────────────────────────────
                카테고리 네비게이션: 검색 기능
────────────────────────────────────────────────────────── */

.search-icon {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-bottom: 0px solid #376fc2;
    transition: all .03s ease;
}

.search-icon:hover {
    cursor:pointer;
    color: #376fc2;
    border-bottom: 5px solid #376fc2;
}

.search-icon span {
    margin-left: 10px;
}

.search-no-result-wrap {
    margin-bottom: 150px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-no-result {
    color: #888;
    font-size: 30px;
    font-weight: 400;
    font-family: "Noto Sans Kr", sans-serif;
    margin-bottom: 20px
}

.top-nav-menu-search {
    width: max-content;
    height: 100%;
}

.top-nav-menu-search .search-form-wrap {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    font-size: 16px;
}

.top-nav-menu-search .search-form-wrap.search-activate {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);

}

.top-nav-menu-search .search-form-wrap .search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.top-nav-menu-search .search-form-wrap .search-form .search-field {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 30px;
    width: 80%;
    height: 70px;
    display: block;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 20px;
}

.top-nav-menu-search .search-form-wrap .search-form .search-submit {
    font-size: 20px;
    margin-top: 30px;
    padding: 16px 60px;
    background: #fff;
    border: none;
    color: #000;
    display: inline-block;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.top-nav-menu-search .search-form-wrap .search-form .search-submit:hover {
  background-color: var(--color-light);
}

.search-form-close {
  position: absolute;
  color:white;
  right: 40px;
  top: 30px;
  font-size: 64px;
  cursor: pointer;
}

.search-sort {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.search-sort button {
    font-family: "Noto Sans KR", sans-serif;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--color-lgray);
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
}

.search-sort button.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
}

/* ─────────────────────────────────────────────────────────
                카테고리별 화면 - 추가 네비게이션
────────────────────────────────────────────────────────── */

.cate-discover-scroll-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cate-discover-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    flex: 1;
}

.cate-discover-scroll-content {
    display: flex;
    align-items: center;
}

.cate-discover-item {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}

.cate-discover-btn {
    padding: 10px;
}

.cate-discover-scroll-wrapper button {
    background: none;
}

.cate-discover-scroll-wrapper button:hover {
    cursor: pointer;
}


/* ─────────────────────────────────────────────────────────
                    로그인 / 회원가입
────────────────────────────────────────────────────────── */

/* 헤더 로그인 버튼 */
.login-button {
    margin-right: 10px;
    padding: 8px 10px 8px 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    /* border: 1px solid var(--color-dgray); */
    border-radius: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: background-color .3s ease-in;
}

.login-button:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
}

/* 로그인 팝업 기본영역, 투명한 검정 배경 */
.login-background {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 활성화시 표시 */
.login-background.login-activate {
    opacity: 1;
    visibility: visible;
}

/* 로그인 폼 */
.login-form {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
}

/* 실질적으로 회전하는 div */
.login-form-wrapper {
    border-radius: 20px;
    width: 500px;
    height: 530px;
    background: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.6s ease-out;
}

.login-form-wrapper.flip {
    transform: rotateY(180deg);
    height: 650px;
}

/* 앞쪽은 로그인 폼, 뒤쪽은 가입 폼 */
.front-login, .back-register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* 뒤집어지기 때문에 회원가입 폼은 다시 뒤집어서
원래대로 보이게 만들기 */
.back-register {
    transform: rotateY(180deg);
}

/* 로그인 폼 상단부분 */
.login-form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--color-black);
    border-bottom: 1px solid var(--color-grayish);
}

/* 로그인 폼 내용부분 */
.login-form-middle {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

/* 로그인 폼 하단부분 */
.login-form-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid var(--color-grayish);
}

.login-form-close {
    position: absolute;
    color: var(--color-black);
    right: 20px;
    top: 14px;
    font-size: 35px;
    line-height: 0;
    cursor: pointer;
}

.login-form fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-primary);
    width: 80%;
    transition: border 0.2s ease;
}

.front-login fieldset:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 10px;
}

.front-login fieldset:nth-of-type(2) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 10px;
    border-top: 0;
}

.login-input {
    width: 100%;
    font-size: 18px;
}

.login-error-message {
    color: var(--color-red);
    text-align: left;
    width: 80%;
    margin-top: 2px;
    padding: 0;
}

.login-form button.login {
    display: block;
    padding: 15px 40px;
    color: #fff;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-medium);
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.2s ease;
}

.login-form button.login:hover {
    background-color: var(--color-primary-dark);
}

.login-form-middle .login-btn-area {
    margin-top: 20px;
}

.login-btn-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.login-form .forgot {
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s ease;
    color: var(--color-black)
}

.login-form .forgot:hover {
    cursor: pointer;
    color: var(--color-primary-dark)
}

.login-form form {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fa-google-plus {
    font-size: 30px;
    color: var(--color-red);
}

.fa-facebook {
    margin-left: 1px;
    font-size: 30px;
    color: var(--color-blue);
}

.login-method .fa-instagram {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    background: linear-gradient(to right,#833ab4,#fd1d1d,#fcb045);
}

.fa-naver {
    width: 30px;
    font-size: 30px;
    color: green;
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'N';
}

.login-stripe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 0 30px;
}

.stripe-line {
    flex: auto;
    flex-basis: auto;
    border: none;
    outline: none;
    height: 1px;
    background: var(--color-grayish);
}

.stripe-text {
    font-weight: bold;
    line-height: inherit;
    font-size: 18px;
    color: var(--color-black);
    margin: 0 15px;
}

.login-method-wrap {
    width: 100%;
}

.login-method {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
}

/* .login-method-control {
    width: 80%;
} */

.login-method-action {
    font-size: 18px;
    font-weight: bold;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 12px;
    border-radius: 20px;
    background: var(--color-white);
    border: 2px solid var(--color-primary);
    transition: box-shadow 0.2s ease;
}

.login-method-action:hover {
    box-shadow: var(--shadow-medium);
}

.logged-in {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 회원가입 부분 */

.register-form-wrap {
    max-width: 540px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.register-wrap {
    gap: 15px;
    height: inherit;
}

.register-form-wrap .login-error-message {
    margin-top: -10px;
}


.register-form-wrapper {
    width: 100%;
    max-width: 550px;
    position: relative;
} 

.register-form {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    width: 300%;
}

.register-page {
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 10px;
}

.register-page h1 {
    font-family: "Noto Sans KR";
    font-weight: 400;
    margin-bottom: 20px;
}

.back-register fieldset {
    border-radius: 10px;
    padding: 15px 10px; 
}

.email-wrap {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-wrap fieldset {
    width: 100%;
    margin-top: 0;
}

.email-wrap fieldset:last-child {
    margin-left: 10px;
}

.email-wrap span {
    font-size: 20px;
    margin: 0 5px;
}

.next-page,
.prev-page {
    width: 100%;
}

.social-num-wrap {
    display: flex;
    width: 80%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-num-wrap span {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary)
}

.social-num-wrap fieldset {
    margin: 0;
}

.social-num-wrap fieldset:last-child {
    width: 40%;
}

.register-button-wrap {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 15px 0;
}

.register-button-wrap.final-step {
    gap: 20px;
}

.register-button-wrap.final-step button.prev-page {
    width: 50%;
}

.accept-box {
    border: none !important;
    border-bottom: 2px solid var(--color-primary) !important;
    border-radius: 0 !important;
}

.accept-box label {
    display: flex;
    align-items: left;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.accept-box input {
    width: 20px;
    color: var(--color-primary)
}
  

/* ─────────────────────────────────────────────────────────
                    메인 영역 스타일 설정
────────────────────────────────────────────────────────── */

main {
    margin-top: 40px;
    width: 100%;
}

/* 메인 프로젝트 목록 영역 */
#section-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* 프로젝트 목록 영역 */
#section-content-wrap {
    width: 100%;
}


/* ─────────────────────────────────────────────────────────
                    메인: 섹션 영역 스타일
────────────────────────────────────────────────────────── */

section {
    position: relative;
    margin: 0 auto;
    width: 1330px;
}

.section-wrap {
    position: relative;
    z-index: 2;
}

.section-title {
    margin-top: 30px;
    font-family: "Noto Sans KR", sans-serif;
}

.section-title p {
    font-weight: bold;
    font-size: 28px;
}

.section-title span {
    font-size: 18px;
    font-weight: 400;
}

.section-title p:after {
    font-family: "Font Awesome\ 5 Free";
    content: '\f054';
    margin-left: 8px;
    font-weight: bold;
}

.section-area {
    border-radius: 30px;
}

#popular {
    margin-bottom: 0;
}

#section1 {
    display: grid;
    grid-template-columns: 950px auto;
}

#section1 .section-wrap {
    margin-top: 40px;
}

#section1 .section-title {
    margin-top: 0;
}


/* ─────────────────────────────────────────────────────────
                    인기 프로젝트 영역
────────────────────────────────────────────────────────── */

.popular-projects {
    width: 1330px;
    margin: 0 auto;
    height: 400px;
    background-color: #ccc;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    user-select: none;
}

/* 금주의 인기 프로젝트! 영역 스타일 */
.slide-title {
    font-family: "Noto Sans KR", sans-serif;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: #fff;
    color:#000;
    font-weight: bold;
    z-index: 3;
    box-shadow: var(--shadow-medium);
}

/* 슬라이드에 들어가는 각 div의 스타일 적용 */
.slide-item {
    position: relative;
    left: 0px;
    flex-shrink: 0; /* flex item들이 컨테이너 크기에 맞게 줄어들지 않도록 값을 0으로 설정 */
    width: 100%;
    height: 100%;
    transition: left 0.8s ease-in-out;
}

/* 무한루프 구현을 위해 복사본 스타일 정의 */
.slide-item-duplicate {
    position: relative;
    z-index: 2;
    left: 0px;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    transition: left 0.8s ease-in-out;
}

.item1 {
    background-image: url("https://picsum.photos/1330/400?random=1");
}

.item2 {
    background-image: url("https://picsum.photos/1330/400?random=2");
}

.item3 {
    background-image: url("https://picsum.photos/1330/400?random=3");
}

.item4 {
    background-image: url("https://picsum.photos/1330/400?random=4");
}

.item5 {
    background-image: url("https://picsum.photos/1330/400?random=5");
}

/* 페이지 넘기는 버튼 및 현재 페이지 표시 ui영역 */
.slide-ui {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
}

/* 페이지 넘기는 버튼 스타일 */
.slide-btn {
    color:#000;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;
    background-color: #fff;
    box-shadow: var(--shadow-medium);
}

/* 현재 페이지를 알려주는 ui 스타일 */
.slide-pagenation {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color:#000;
    font-weight: bold;
    box-shadow: var(--shadow-medium);
}


/* ─────────────────────────────────────────────────────────
                섹션1 사이드 뜨고있는 팀 순위
────────────────────────────────────────────────────────── */

aside {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 1px solid #eee;
    padding-left: 30px;
    padding-right: 10px;
}

.aside-title {
    text-align: center;
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    margin: 35px 10px;
    padding: 12px 0;
    border-radius: 50px;
    border-bottom: 3px solid #ddd;
}

.aside-title i {
    margin-right: 15px;
}

aside ul {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


aside ul > li {
    background-color: transparent;
    perspective: 1000px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
}

aside ul > li .rank-items {
    position: relative;
    width: 100%;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
}

aside li:hover .rank-items {
    transform: rotateX(180deg);
}

.rank-items__front, .rank-items__back { 
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.rank-items__front {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    border: 2px solid #ddd;
}

.rank-items__back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: rotateX(180deg);
    background-color: #eee;
}

.rank-number {
    margin-left: 15px;
    font-size: 16px;
}

.rank-title {
    width: 82%;
    margin-right: 10px;
    text-align: right;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rank-items__back .rank-like {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
    color: #ff5e5e
}

.rank-items__back .rank-title {
    width: 100%;
    margin: 0;
    text-align: center;
}

.aside-ad {
    margin: 40px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 230px;
}

/* ─────────────────────────────────────────────────────────
                    주제별 추천 프로젝트
────────────────────────────────────────────────────────── */

.main-cate-project {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 40px 50px 0px;
    column-gap: 60px;
    row-gap: 50px;
}

.project-cate-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-cate-thumb-wrap {
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: all .2s ease-in-out;
}

.project-cate-thumb-wrap:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-large);
}


/* ─────────────────────────────────────────────────────────
                광고, 추천 프로젝트 섹션
────────────────────────────────────────────────────────── */

.ad-recommand-projects {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 300px;
    width: 100%;
    border-radius: 30px;
}

.ad-section-title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ad-icon {
    color: var(--color-mgray);
    border: 1px solid var(--color-mgray);
    border-radius: 10px;
    padding: 3px 7px 3px 7px;
    font-size: 12px;
    font-weight: normal;
}

.banner {
    height: 200px;
    width: 1330px;
    margin-bottom: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

/* ─────────────────────────────────────────────────────────
                자동 렌더링 리스트 스타일
────────────────────────────────────────────────────────── */

/* 주제별 추천 프로젝트 섹션 */

.project-cate {
    width: 100%;
}

.project-cate-thumb {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.project-cate-thumb img {
    border-radius: 20px;
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.project-subject {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #ddd;
}

.project-subject-title {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-subject-more {
    margin-right: 10px;
    transition: all .2s ease;
}

.project-subject-more:hover {
    color: var(--color-pink)
}

/* 큰 리스트: 섹션 */
.list-page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,calc(25% - 26.5px));
    padding-top: 40px;
    padding-bottom: 50px;
    gap: 35px;
}

.list-project-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.list-project-wrap:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.list-project-img-container {
    position: relative;
    overflow: hidden;
    padding-top: 66.6%;
}

.list-project-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.list-project-desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
    padding: 12px;
}

.project-cate.title {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    word-break: break-word;
    line-height: 30px;
    width: 100%;
    
    display: -webkit-box;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.project-cate.rate {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.project-cate-rate.percent {
    font-weight: bold;
    font-size: 18px;
}

.project-cate-rate.percent > b,
.project-cate-rate.star {
    color: orange;
    font-weight: bold;
}

.project-cate-rate.heart {
    color: #ff6b6b;
    font-weight: bold;
    margin-right: 5px;
}

.project-cate.name {
    color: #777;
    font-weight: bold;
}

/* 작은 리스트: 트렌드, 광고 등 */

.trend-project {
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
}

.trend-project hr {
    margin: 20px 0;
}

.trend-project-wrap {
    position: relative;
}

.trend-project-block {
    overflow-x: scroll;
}

.trend-project-block::-webkit-scrollbar {
    display:none;
}

.trend-project-title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
}

.trend-project-title .hashtag {
    margin: 6px;
}

.trend-project-title .ad-icon {
    margin-left: 20px;
}

.trend-project-title:first-child {
    margin-top: 0;
}

.trend-project-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #000;
    background-color: #fff;
    width: 40px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--shadow-bold);
}

.trend-project-btn.right{
    right: -20px;
}

.trend-project-btn.left{
    left: -20px;
}

.trend-project-btn i {
    margin-top: 1px;
}

.trend-project-list {
    display: flex;
    gap: 40px;
    width: max-content;
    padding: 20px 5px;
}

.trend-project-list .list-project-wrap {
    width: 200px;
}

.trend-project-list .list-project-img-container {
    position: relative;
    overflow: hidden;
    padding-top: 78.8%;
}

.trend-project-list .list-project-desc-wrap {
    gap: 3px;
}

.trend-project-list .project-cate.name {
    font-size: 14px;
}

.trend-project-list .project-cate.title {
    font-size: 15px;
}

.trend-project-list .project-cate.rate {
    font-size: 15px;
}

.trend-project-list .project-cate-rate.percent {
    font-size: 15px;
}

.trend-project-list .project-cate.title {
    line-height: 25px;
}

/* ─────────────────────────────────────────────────────────
                         푸터
────────────────────────────────────────────────────────── */

footer {
    height: fit-content;
    border-top: 1px solid #eee;
    background-color: white;
}

.footer-menu-wrap {
    width: 1330px;
    margin: 50px auto;
    margin-bottom: 0;
}


/* ─────────────────────────────────────────────────────────
                푸터: 상단 영역 스타일
────────────────────────────────────────────────────────── */

.footer-top-area {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer-top-menu {
    display: flex;
}

.footer-top-menu p {
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.footer-top-menu a:hover {
    text-decoration: underline;
}

.footer-top-menu i {
    margin-right: 10px;
}

.footer-top-menu ul {
    margin-left: 70px;
    font-weight: 400;
    display: inline-block;
}

.footer-top-menu li {
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}


/* ─────────────────────────────────────────────────────────
               ProjectDetail 펀딩 세부화면
────────────────────────────────────────────────────────── */

.detail-container {
    max-width: 1300px;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
  }
  
  .detail-slider {
    width: 50%;
    height: 100%;
    margin: 10px;
  }
  
  .detail-container img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
  }
  
  .detail-info-panel {
    width: 40%;
    height: 100%;
    margin: 30px;
  }
  
  .detail-slick-prev {
    display: block !important;  /* 항상 보이도록 */
    z-index: 1;                 /* 이미지 위에 표시되도록 */
    font-size: 30px;            /* 크기 조정 */
    color: black;               /* 색상 설정 */
    width: 30px;
    height: 30px;
    background: white;          /* 배경색 설정 */
    border-radius: 50%;         /* 동그랗게 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.detail-5); /* 그림자 추가 */
    opacity: 0.detail-7;               /* 약간 투명하게 */
    margin: 20px;
  }
  
  .detail-slick-next {
    display: block !important;  /* 항상 보이도록 */
    z-index: 1;                 /* 이미지 위에 표시되도록 */
    font-size: 30px;            /* 크기 조정 */
    color: black;               /* 색상 설정 */
    width: 30px;
    height: 30px;
    background: white;          /* 배경색 설정 */
    border-radius: 50%;         /* 동그랗게 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.detail-5); /* 그림자 추가 */
    opacity: 0.detail-7;               /* 약간 투명하게 */
    margin: 20px;
  }
  
  .detail-slick-prev:before, .detail-slick-next:before {
    font-size: 30px;
    color: black;
  }
  
  .detail-slick-prev {
    left: 10px;
  }
  
  .detail-slick-next {
    right: 10px;
  }
  
  .detail-like-container {
    display: flex;
    flex-direction: column; /* 수직으로 배치 */
    align-items: center;
    justify-content: space-around;
  }
  
  .detail-like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    transition: color 0.detail-3s ease;
    margin-top: 30px;
  }
  
  .detail-like-button.detail-liked {
    color: red; /* 하트에 불이 켜졌을 때 빨간색으로 변경 */ 
  }
  
  .detail-like-button:focus {
    outline: none;
  }
  
  .detail-icons {
    display: flex;
    align-items: center;
  }
  
  .detail-share-icon {
    font-size: 30px;
    margin-left: 10px;
    color: grey;
    cursor: pointer;
  }
  
  .detail-menu_bar{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
  }
  
  .detail-main_title{
    font-weight: bold;
  }
  
  .detail-main {
    border-radius: 5px;
  }
  
  .detail-info-panel-bar{
    width: 100%;
    height: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.detail-1);
    padding: 5px;
  }
  .detail-main_content1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .detail-main_content1_one{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .detail-reward-selection {
    max-width: 600px;
    margin: 0x auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.detail-1);
    overflow-y: auto;  /* 스크롤바 표시 */
    max-height: 1100px;  /* 최대 높이 설정 */
    position: sticky;
    margin-top: 50px;
  
  }
  
  .detail-reward-selection h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detail-duration {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
  }
  
  .detail-reward-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f4f9ff;
  }
  
  .detail-reward-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .detail-price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .detail-remaining {
    font-size: 14px;
    color: #00aaff;
  }
  
  .detail-reward-content h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .detail-reward-footer {
    font-size: 14px;
    color: #666;
  }
  
  .detail-bottom-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    background-color: white;
    padding: 10px 0;
    height: 150px;
    
  }
  
  .detail-icons {
    font-size: 18px;
  }
  
  .detail-funding-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .detail-funding-button:hover {
    background-color: #0056b3;
  }
  
  .detail-slider-container .detail-slick-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .detail-content-container {
    text-align: left;
  }
  
  .detail-container h3 {
    font-size: 1.detail-5em;
    margin-bottom: 10px;
  }
  
  .detail-container p {
    font-size: 1em;
    margin-bottom: 35px;
    margin-top: 30px;
  }
  
  .detail-funding-info {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }
  
  .detail-funding-info h4 {
    font-size: 1.detail-5em;
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .detail-funding-button {
    background-color: skyblue;
    width: 200px;
    height: 100px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .detail-funding-button:hover {
    background-color: #45a049;
  }
  
  /* 두 번째 섹션 스타일 */
  .detail-story-section {
    margin-bottom: 20px;
  }
  
  .detail-notice {
    background-color: #f8f8f8;
    border-left: 4px solid #ccc;
    padding: 10px;
    font-size: 0.detail-9em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .detail-content {
    text-align: center;
  }
  
  .detail-container h1 {
    font-size: 2em;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .detail-highlighted {
    font-size: 2.detail-5em;
    color: #4caf50;
    margin: 20px 0;
  }
  
  .detail-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .detail-btn {
    background-color: #f8f8f8;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.detail-3s;
  }
  
  .detail-btn:hover {
    background-color: #e0e0e0;
  }
  
  /* 세 번째 섹션 스타일 */
  .detail-reward-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .detail-reward-header {
    margin-bottom: 20px;
  }
  
  .detail-reward-price {
    font-size: 1.detail-5em;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-reward-header h2 {
    font-size: 1.detail-2em;
    color: #555;
  }
  
  .detail-reward-content p {
    font-size: 1em;
    margin: 5px 0;
    line-height: 1.detail-4;
  }
  
  .detail-reward-content hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
  }
  
  .detail-reward-footer {
    
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.detail-9em;
  }
  
  .detail-reward-footer div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-reward-footer span {
    font-weight: bold;
  }
  
  @media (min-width: 1096px) {
    .detail-app-container {
      padding: 10px;
    }
  
    .detail-buttons, .detail-reward-footer div {
      flex-direction: column;
    }
  
    .detail-btn, .detail-reward-footer div {
      width: 100%;
    }
  
    h1, h2, h3 {
      font-size: 1.detail-5em;  /* 모든 제목 크기 축소 */
    }
  
    .detail-reward-price {
      flex-direction: column;
      align-items: start;
    }
  
    .detail-reward-price strong {
      margin-bottom: 5px;
    }
  }
  



/* ─────────────────────────────────────────────────────────
                푸터: 고객 지원센터 안내 영역
────────────────────────────────────────────────────────── */

.help-title-wrap { 
    font-family: "Noto Sans Kr", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: right;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid #eee;
}

.help-title-wrap p {
    margin-left: 10px;
}

.help-title {
    font-size: 18px;
}

.btn-support {
    text-align: center;
    width: 250px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--color-light);
    transition: background-color 0.2s ease;
}

.btn-support:hover {
    background-color: var(--color-grayish);
}


/* ─────────────────────────────────────────────────────────
               푸터: 하단 SNS 및 구분선 박스
────────────────────────────────────────────────────────── */

.sns-stripe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    margin-bottom: 10px;
}

.sns-stripe.stripe-line {
    flex: auto;
    flex-basis: auto;
    border: none;
    outline: none;
    height: 1px;
    background: var(--color-grayish);
}

.social-icons ul {
    margin: 0 25px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.social-icons li {
    color: gray;
    font-size: 24px;
    transition: color .3s ease;
}

.social-icons li:hover {
    color: var(--color-black)
}


/* ─────────────────────────────────────────────────────────
                푸터: 하단 영역 스타일
────────────────────────────────────────────────────────── */

.footer-bottom-area {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-copyright {
    font-size: 14px;
    text-align: center;
}

.footer-copyright a {
    background-color: #ddd;
    padding: 2px 11px;
    border-radius: 10px;
}


/* ─────────────────────────────────────────────────────────
                    프로젝트 만들기 화면
────────────────────────────────────────────────────────── */

.input-box {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}
  
.input-box::placeholder {
    color: gray;
}

.custom-input {
    width: 100%;
    height: 150px; /* 높이 설정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 박스의 전체 크기를 계산 */
}

/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

/* ─────────────────────────────────────────────────────────
                    임시! 광고 안내문구
────────────────────────────────────────────────────────── */

.aside-ad p, .banner p {
    font-size: 22px;
    font-weight: bold;
    color: #ccc;
}

.banner {
    margin-top: 20px;
}